* {
  margin: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: 'Poppins';
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

:root {
  --black: #000000;
  --black50: rgba(0, 0, 0, 0.5);
  --black80: rgba(0, 0, 0, 0.8);
  --white: #ffffff;
  --orange: #f0b35b;
  --blue: #0d121e;
  --blue50: rgba(13, 18, 30, 0.5);
  --blue80: rgba(13, 18, 30, 0.8);
  --transparent: transparent;
  --gray: #e0e0e0;
  --shadow50: 3px 3px 8px var(--black50);
  --shadow80: 3px 3px 8px var(--black80);
  --dropShadow: drop-shadow(4px 5px 8px var(--black50));
}
